template(id='preview-template')
  li.preview__item
    ul.preview__breadcrumbs
    .preview__background
      img.preview__background-image(width='460' height='240' alt='Превью картинка')
    time.preview__time
    h3.preview__name
      a.preview__name-link
    p.preview__text
    a.preview__comment
      | Комментарии
      span.preview__cloud
      b.preview__comment-count